.DS_Store
Desktop.ini
.ipynb_checkpoints
*/.ipyb_checkpoints/*n

# Protect environment variables
environment*
data/antigenic_map_data*

# LaTeX Files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Compiled manuscript
relative-fitness-mechanisms.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Python cache
__pycache__/


# Quarto
*.html
*/libs/*n

# Presentations
presentations/*
