.DS_Store
Desktop.ini
.ipynb_checkpoints
*/.ipyb_checkpoints/*n

# Protect environment variables
environment*
data/antigenic_map_data*
data/nextstrain-clade/global.tsv.gz
data/nextstrain-clade-usa/usa.tsv.gz
data/pango-lineage/global.tsv.gz
data/nextstrain-clade/prepared-sequence-counts.tsv
data/nextstrain-clade-usa/prepared-sequence-counts.tsv

# LaTeX Files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Compiled manuscript
relative-fitness-mechanisms.pdf
cover-letter.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Python cache
__pycache__/


# Quarto
*.html
*/libs/*n

# Presentations
presentations/*
